[submodule "PropertyHook"]
	path = PropertyHook
	url = https://github.com/pseudostripy/PropertyHook.git
[submodule "SpeedInjector"]
	path = SpeedInjector
	url = https://github.com/pseudostripy/SpeedInjector.git
